.div1{
    display: inline-block;
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid rgb(126, 126, 126);
}

.div2{
    width: 80%;
    display: inline-block;
    margin: 20px 0px 20px 0px;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid rgb(126, 126, 126);
}

tr:nth-child(odd){
    background-color: rgb(220, 220, 220);
}

tr:nth-child(even){
    background-color: white;
}

tr:hover{
    background-color: rgb(200, 200, 200);
}

.table td{
    text-align: center;
    height: 50px;
}

td{
    border-bottom: 1px solid rgb(126, 126, 126);
}

.div-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}