*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    width: 100%;
    min-width: 650px;
}

/*导航条*/
.bootstrap{
    background-color: rgb(33, 33, 33);
    text-align: center;
    display: inline-block;
    width: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.bootstrap a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 14px 30px;
}

.bootstrap a:hover{
    background-color: rgb(50, 50, 50);
}

.bootstrap-left{
    float: left;
    border-right: 1px solid black;
}

.bootstrap-right{
    float: right;
    border-left: 1px solid black;
}

/*网页底*/
.div-footer{
    background-color: rgb(33, 33, 33);
    margin-top: -4px;
    box-shadow: 0 -2px 4px rgb(0 0 0 / 50%);
    min-width: 650px;
}

.footer{
    padding: 14px;
    color: white;
}