.h1{
    text-align: center;
}

.div-hall-of-fame{
    text-align: center;
    width: 100%;
}

.a-hall-of-fame{
    display: inline-block;
    width: 40%;
    height: 100px;
    margin: 100px 5px 100px 5px;
    border: 2px solid rgb(232, 232, 232);
    text-decoration: none;
    background-color: white;
}

.a-hall-of-fame:hover{
    background-color: rgb(230,230,230);
    border: 2px solid rgb(100, 100, 100);
}

.p-hall-of-fame{
    color: black;
    font-size: 25px;
    position: relative;
    top: 33px;
}