*{
    margin: 0px;
    padding: 0px;
}

#body{
    text-align: center;
    width: 100%;
}

/*目录*/
#div-index{
    width: 30%;
    border: 2px solid black;
    position: fixed;
    background-color: chartreuse;
}

.li2{
    list-style-type: none;
}

.a2{
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    color: white;
    height: 21px;
}

/*内容*/
#div2{
    margin-left: 30%;
    width: 70%;
    border: 2px solid black;
    background-color: aqua;
}

.p1{
    color: white;
}
