*{
    margin: 0px;
    padding: 0px;
}

#body{
    text-align: center;
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
}
