*{
    margin: 0px;
    padding: 0px;
}

#body{
    text-align: center;
    background-image: url("../img/background.png");
    background-size: cover;
}

/*动画*/
@keyframes sticker-text1 {
    from{color: rgb(231, 231, 231);}
    to{color: black;}
}

@keyframes sticker-text2 {
    from{color: rgb(37, 198, 253);}
    to{color: black;}
}

@keyframes sticker1-background {
    from{background-image: url(../img/hdtspace.png);}
    to{background-image: url(../img/hdtspace-hover.png);}
}

@keyframes sticker2-background {
    from{background-image: url(../img/hdtspace-vanilla.png);}
    to{background-image: url(../img/hdtspace-vanilla-hover.png);}
}

@keyframes sticker3-background {
    from{background-image: url(../img/qq.png);}
    to{background-image: url(../img/qq-hover.png);}
}

/*导航条*/
#div1{
    width: 100%;
    min-width: 970px;
}

#ul1{
    background-color: rgb(33, 33, 33);
    float: left;
    width: 20%;
}

.li1{
    float: right;
    list-style-type: none;
    border-left: 1px solid black;
}

.a1{
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    color: white;
}

.a1:hover{
    background-color: rgb(50, 50, 50);
}

#ul2{
    background-color: rgb(33, 33, 33);
    float: right;
    width: 80%;
}

#li-left{
    border-right: none;
    border-right: 1px solid black;
    float: left;
    list-style-type: none;
}

/*磁贴*/
#div2{
    background-color: hsla(0, 0%, 50%, 0.5);
    padding: 5px;
    height: 960px;
    text-align: center;
    width: 960px;
    display: inline-block;
    word-spacing:-1em;
}

#div2 a{
    float: left;
}

#div2 a:hover{
    border: 4px solid white;
    margin: 1px;
}

.little-sticker{
    display: block;
    width: 150px;
    height: 150px;
    margin: 5px;
    text-decoration: none;
}

.middle-sticker{
    display: block;
    width: 310px;
    height: 150px;
    margin: 5px;
    text-decoration: none;
}

.large-sticker{
    display: block;
    width: 310px;
    height: 310px;
    margin: 5px;
    text-decoration: none;
}

.extra-large-sticker{
    display: block;
    width: 630px;
    height: 630px;
    margin: 5px;
    text-decoration: none;
}

#a-position{
    position: relative;
    bottom: 160px;
    background-color: rgb(77, 139, 226);
}

/*1*/
#sticker1{
    background-image: url(../img/hdtspace.png);
}

#sticker1:hover{
    animation-name: sticker1-background;
    animation-duration: 0.7s;
    background-image: url(../img/hdtspace-hover.png);
}

#sticker1:hover p{
    animation-name: sticker-text1;
    animation-duration: 1s;
    color: black;
}

#p1{
    color: white;
    font-size: 60px;
    position: relative;
    right: 80px;
}

#p2{
    color: rgb(231, 231, 231);
    font-size: 30px;
    position: relative;
    left: 180px;
    top: 500px;
}

/*2*/
#sticker2{
    background-image: url(../img/hdtspace-vanilla.png);
}

#sticker2:hover{
    animation-name: sticker2-background;
    animation-duration: 0.7s;
    background-image: url(../img/hdtspace-vanilla-hover.png);
}

#sticker2:hover p{
    animation-name: sticker-text1;
    animation-duration: 1s;
    color: black;
}

#p3{
    color: white;
    font-size: 30px;
    position: relative;
    right: 25px;
}

#p4{
    color: white;
    font-size: 18px;
    position: relative;
    left: 93px;
    top: 250px;
}

/*3*//*
#sticker3{
    background-image: url(../img/qq.png);
}

#sticker3:hover{
    animation-name: sticker3-background;
    animation-duration: 0.7s;
    background-image: url(../img/qq-hover.png);
}

#sticker3:hover p{
    animation-name: sticker-text2;
    animation-duration: 1s;
    color: black;
}

#p5{
    color: rgb(37, 198, 253);
    font-size: 18px;
    position: relative;
    top: 125px;
}
*/

/*
    13个磁贴
    1.HDTspace-No.3
    2.HDTspace-Vanilla
    3.客户端下载
    4.公开处刑
    5.提问的艺术
    6.加入我们
    7.点击加群
    8.赞助服务器
    9.mod列表
    10.友情链接
    11.你服梗百科
    12.答题
    13.鸣谢
*/

/*默认磁贴*/
#stickerdefault{
    background-color: rgb(234, 82, 0);
}

/*网页底*/
#div3{
    background-color: rgb(33, 33, 33);
    margin-top: -4px;
    min-width: 970px;
}

#p-bottom{
    padding: 14px;
    color: white;
}
