*{
    margin: 0px;
    padding: 0px;
}

#body{
    text-align: center;
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
}


/*导航条*/
#div1{
    width: 100%;
}

#ul1{
    background-color: rgb(33, 33, 33);
    float: left;
    width: 20%;
}

.li1{
    float: right;
    list-style-type: none;
    border-left: 1px solid black;
}

.a1{
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    color: white;
    height: 21px;
}

.a1:hover{
    background-color: rgb(50, 50, 50);
}

#ul2{
    background-color: rgb(33, 33, 33);
    float: right;
    width: 80%;
}

#li-left{
    border-right: none;
    border-right: 1px solid black;
    float: left;
    list-style-type: none;
}


/*网页底*/
#div3{
    background-color: rgb(33, 33, 33);
    margin-top: -4px;
    /*min-width: 970px;*/
}

#p-bottom{
    padding: 14px;
    color: white;
}
