*{
    margin: 0px;
    padding: 0px;
}

.body{
    text-align: center;
    width: 100%;
    min-width: 650px;
}

/*内容*/
.div1{
    display: inline-block;
    width: 80%;
    border-top: 2px solid rgb(126, 126, 126);
    border-bottom: 2px solid rgb(126, 126, 126);
    margin: 20px;
    text-align: left;
}

.div2{
    margin: 0% 2% 0% 2%;
}

.h1{
    font-size: 50px;
    text-indent: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted rgb(126, 126, 126);
}

.div3{
    margin: 0% 5% 15px 5%;
}

.h2{
    font-size: 35px;
    background-color: rgb(230,230,230);
    margin: 20px 0px 20px 0px;
}

.p1{
    font-size: 25px;
    margin: 0px 10px 0px 10px;
}

.p1-indent{
    text-indent: 2em;
    font-size: 25px;
}

.p2{
    font-size: 25px;
    margin-left: 30px;
}

.a1{
    color: rgb(33, 33, 33);
}

.a1:hover{
    color: rgb(100, 100, 100);
}

/*网页底*/
.div-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}