*{
    margin: 0px;
    padding: 0px;
}

.body{
    text-align: center;
    width: 100%;
    min-width: 650px;
}

/*目录*/
.div-index{
    width: 30%;
    min-width: 195px;
    position: fixed;
    margin-top: 20px;
}

.title{
    font-size: 30px;
    margin-bottom: 10px;
}

.li1{
    list-style-type: none;
    border-bottom: 1px solid rgb(126, 126, 126);
}

.a1{
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    color: black;
    height: 21px;
}

/*内容*/
.div1{
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-top: 20px;
}

.div2{
    float: right;
    width: 68%;
    border-top: 2px solid rgb(126, 126, 126);
    border-bottom: 2px solid rgb(126, 126, 126);
    margin-bottom: 60px;
    padding: 20px 0px 20px 00px;
}

.div3{
    margin: 0% 2% 0% 2%;
}

.div4{
    border-bottom: 1px solid rgb(126, 126, 126);
    margin: 0% 2% 0% 2%;
    padding-bottom: 10px;
}


.p1{
    font-size: 50px;
    margin-bottom: 3%;
}

.p2{
    font-size: 25px;
}

.p3{
    float: right;
    margin: 0px 20px 0px 0px;
    color: rgb(100, 100, 100);
}